#products {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tbl-header {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tbl-filters {
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form select {
    margin-right: 10px;
}

form input {
    margin-right: 10px;
}

a.btn.btn-primary.mb-2 {
    margin-left: 0px;
}

a.btn-primary {
    margin-left: 5px;
}

a.btn-secondary {
    margin: 5px;
}

a.btn-success {
    margin: 5px;
}

a.btn-warning{
    margin-left: 10px;
    
    
}

a[disabled] {
    pointer-events: none;
    cursor: default;
}

.footer {
    height: 50px;
    left: 0px;
    bottom: 0px;
    width: 80%;
    background-color: #d4edda;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}